@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

#wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

#overlay {
    display: none;
}

#logo img {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    padding: 2rem 5rem;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#links a, #tools a {
    text-decoration: none;
    font-weight: bold;
}

#links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#tools {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#icons {
    display: flex;
    gap: 1rem;
}

#icons span {
    cursor: pointer;
}

#links > a {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#links a::before {
    font-family: "Material Symbols Outlined";
    content: "\EF4A";
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' -25,
    'opsz' 20;
    color: #D49B56;
    opacity: 0;
}

#links a:hover:before {
    opacity: 1;
}

#tools > a {
    color: black;
}

#icons {
    display: flex;
    flex-direction: row;
}

#hamb-menu {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 60%;
    padding: 0 8rem;
}

section h1 {
    font-size: 2.6rem;
    color: #D49B56;
    margin: 0;
}

section .text {
    color: white;
    opacity: 0.8;
    font-size: 0.8rem;
    width: 60%;
}

section .btn {
    font-weight: bold;
    background-color: #D6AC72;
    height: 3rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

section .btn:hover {
    background-color: #E2C9A6;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

section .btn:active {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#check {
    display: none;
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        gap: 8rem;
    }

    nav {
        padding: 1rem 2rem;
    }

    #links, #tools {
        flex-direction: column;
        gap: 0.9rem;
        align-items: flex-start;
    }

    #links a {
        gap: 0;
    }

    #links a::before {
        content: "";
    }

    #nav-links {
        background-color: #503e3e;
        top: 0;
        left: -100%;
        position: absolute;
        height: 100vh;
        width: 50%;
        z-index: 5;
        flex-direction: column;
        gap: 0.7rem;
        justify-content: flex-start;
        padding: 2rem;
    }

    #hamb-menu {
        display: inline-block;
    }

    #nav-links a {
        color: white;
    }

    section {
        width: 100%;
        padding: 0 2rem;
        align-items: center;
    }

    section h1 {
        font-size: 2rem;
    }

    section .text {
        width: 100%;
    }

    #overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: block;
        z-index: 2;
    }

    nav div, section * {
        z-index: 3;
    }
}